@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "../tailwinds/app.css";
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


html {
  font-family: var("--font-yekanBakht");
}

:lang(en) {
  font-family: var("--font-figtree");
}

.gradient {
  @apply bg-gradient-to-r text-transparent bg-clip-text;
}